:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.review-box{
  padding: 10px;
  border: solid 2 px
}

.review-pfp{
  padding: 5 px;
  width: 2rem
}

