:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

html{
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
}

body{
  background-color: #F9E9E4
}

.review-box {
  padding: 2rem 1rem;
  margin: 2rem 0;
  border: solid 1px;
  background-color: #D4EAE4;
  border-radius: 8px;
  position: relative;
  overflow: hidden; 
}

.review-box h2 {
  position: relative;
  left: 1rem;
}

.review-pfp {
  height: 3rem; 
  float: left; 
  width: 3rem;
}

.acct-info-container{
  align-items: center;
  display: flex;
  justify-content: center;
}

.acct-info{
  padding: 1rem 1rem;
  margin: 2rem 0;
  border: solid 1px;
  background-color: lavender;
  border-radius: 8px;
  width: 50%;
}

.your-info-text{
  font-weight:bold;
  text-decoration: underline;
}

.acct-info img{
  float: left;
}

.game-box {
  position: absolute;
  top: 50%; 
  right: 1rem; 
  transform: translateY(-50%); 
  padding: 2rem 1rem;
  border: solid 1px;
  background-color: #F2A7AD;
  border-radius: 8px;
  width: 10rem;
  height: 6rem;
  text-align: center;
}

.game-box img {
  height: 4rem;
  margin: 0; 
}

.game-box p {
  margin: 0; 
}

.all-game-container{
  width: 100%
}

.game-list-box{
  padding: 1rem;
  margin:2.5%;
  border: solid 1px;
  background-color: #F2A7AD;
  border-radius: 8px;
  height:10rem;
  width:45%;
  float:left;
  box-sizing:border-box;
}

.game-cover-art{
  height: 6rem; 
  float: left; 
  margin:20px
}

.navLink{
  padding: 0.7rem;
  border: solid 2px #79523E;
  margin: 1rem 2rem;
  background-color: #ced97e;
  border-radius: 20px;
  font-size:15px;
  color: darkslateblue;
}

.login-form label{
  margin-right: 10px;
  height:2rem;
  background-color: #F2A7AD;
  border-radius: 10px;
  padding: 0.4rem;
  border: solid 1.5px #79523E;
}

.login-form button{
  margin-right: 10px;
  height:2rem;
  background-color: #F28888;
  border-radius: 10px;
  padding: 0.4rem;
  border: solid 1.5px #79523E;
  font-family: "Ubuntu", sans-serif;
}

.acct-info img{
  height: 7rem;
  margin: 1rem;
  
}

.acct-info p{
  border: solid 0px;
  width: auto;
}